#session-language {
    margin: 8px 15px 0 20px;
}

#session-language-dropdown {
    margin: 13px 15px 0 0;
}

#session-language-dropdown li {
    position: relative;
}

.selected-session-language {
    position: absolute;
    top: 6px;
    left: 4px;
}

#captcha {
/*    width: 100px !important;
    display: inline-block !important;*/
}
.captcha_image img{height: calc(2.25rem + 2px);
    object-fit: contain;}


@media (max-width:767px) {
    #session-language {
        margin: 12px 0 0 15px;
    }
}

pre.error-404 {
    border: 0;
    margin: 0 auto;
    display: table;
}
.login-brand {
    margin: 20px 0;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
}
.card.card-primary {
    border-top: 2px solid #ffc107;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    color: #6c757d;
}
.card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    min-height: 70px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}
.card .card-header h4 {
    font-size: 16px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
}
.card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}
.formlogin{
    padding: 0px;
}
.form-group .control-label, .form-group > label {
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: .5px;
}
.d-block {
    display: block!important;
    font-weight: 600;
    color: #34395e;
    font-size: 12px;
    letter-spacing: .5px;
}
.float-right {
    float: right!important;
}
.text-small {
    font-size: 12px;
    line-height: 20px;
}
.btn.btn-lg {
    padding: .55rem 1.5rem;
    font-size: 12px;
}
.btn-primary, .btn-primary.disabled {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #6777ef;
    border-color: #6777ef;
}